<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.kq.dao.KeywordMapper">

    <resultMap id="keyword" type="com.sun.kq.entity.Keyword">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="word" column="word"/>
    </resultMap>

    <select id="getAllData" resultMap="keyword">
        select user_id ,group_concat(word) as word
        from keyword
        group by user_id;
    </select>


</mapper>